<div class="Cardview my-5">
    <!-- delete arriba -->
    <div class="container">
        <!-- Page Features -->
        <div class="row text-center">
    
          <div class="col-lg-12 col-md-12 mb-4">
            <div class="card bg-dark h-100">
              <img class="card-img-top" src="View/IMG/julio-profe.jpg" alt="">
              <div class="card-body">
                <h4 class="card-title">Hecho por Raúl Peñate</h4>
                <p class="card-text">Hecho 2020</p>
              </div>
            </div>
          </div>
    
        </div>
        <!-- /.row -->
    
      </div>
</div>