<div class="Cardview my-5">
    <!-- delete arriba -->
    <div class="container">
        <!-- Page Features -->
        <div class="row text-center">
    
          <div class="col-lg-12 col-md-12 mb-4">
            <div class="card bg-dark h-100">
              <img class="card-img-top" src="View/IMG/julio-profe.jpg" alt="">
              <div class="card-body">
                <h4 class="card-title">¿Qué son los métodos númericos?</h4>
                <p class="card-text">Los métodos numéricos, que es el eje principal de esta asignatura,
                    permite ofrecer alternativas prácticas de solución a problemas, 
                    los cuales son de utilidad para la vida cotidiana del Ingeniero 
                    en Sistemas Informáticos cuando se trabaja con equipo de alta tecnología, 
                    como es el caso actual de computadoras avanzadas con gran capacidad, las 
                    cuales pueden manejar modelos matemáticos involucrando una gran cantidad 
                    de variables, problema que de forma analítica sería prácticamente imposible 
                    solucionarlos. Por ello, se desarrollará en el estudiante la capacidad de 
                    seleccionar, aplicar y programar los métodos numéricos más apropiados a problemas
                     de ingeniería.</p>
              </div>
              <div class="card-footer">
                <a href="https://www.youtube.com/watch?v=pEBqze9uisU" target="_blank" class="btn btn-dark border border-white btn-primary">Ver más</a>
              </div>
            </div>
          </div>
    
        </div>
        <!-- /.row -->
    
      </div>
</div>