<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="/metodos-numericos/index.html">UNICAES
    <img src="/metodos-numericos/View/IMG/UNICAES_Logo.png" class="logo-unicaes" alt="" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- haber si cambia hoy -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="hoverItemOne nav-link" href="/metodos-numericos/index.html">
          Inicio
          <i class="hoverItemTwo fas fa-home"></i>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="hoverItemOne nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
          data-toggle="dropdown">
          Ejercicios
          <i class="hoverItemTwo fas fa-chart-pie fa-spin"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

          <a class="dropdown-item"
          href="/metodos-numericos/View/HTML/Metodos/Abiertos/Punto-Fijo/metodoPuntoFijo.html">
          Punto Fijo
          <i class="fas fa-chart-line"></i>
          </a>
          <div class="dropdown-divider"></div>

          <a class="dropdown-item"
            href="/metodos-numericos/View/HTML/Metodos/MatrizInversa/matrizinversa.html">
            Matriz Inversa
            <i class="fas fa-chart-line"></i>
          </a>
            <div class="dropdown-divider"></div>

            
          <a class="dropdown-item"
          href="/metodos-numericos/View/HTML/Metodos/Kramer/kramer.html">
          Cramer
          <i class="fas fa-chart-line"></i>
          </a>
          <div class="dropdown-divider"></div>

          <a class="dropdown-item"
            href="/metodos-numericos/View/HTML/Metodos/Abiertos/Newton-Cotes/metodoNewtonCotes.html">
            Newton-Cotes
            <i class="fas fa-chart-line"></i>
          </a>
          <div class="dropdown-divider"></div>

          <a class="dropdown-item"
            href="/metodos-numericos/View/HTML/Metodos/Directos/Diferenciacion-Numerica/metodoDiferenciacionNumerica.html">
            Diferenciacion Numerica
            <i class="fas fa-chart-line"></i>
          </a>
            <div class="dropdown-divider"></div>

            <a class="dropdown-item"
              href="/metodos-numericos/View/HTML/Metodos/EulerMejorado/metodoEulerMejorado.html">
              Euler Mejorado
              <i class="fas fa-chart-line"></i>
          </a>
              
          </a>
        </div>
      </li>

      <li class="nav-item">
        <a class="hoverItemOne nav-link" href="/metodos-numericos/View/HTML/Elementos/videos.html">
          Videos
          <i class="hoverItemTwo fab fa-youtube"></i>
        </a>
      </li>

      <li class="nav-item">
          <a class="hoverItemOne nav-link" href="/metodos-numericos/View/EJERCICIO/EJERCICIOS.zip" target="_blank" rel="noopener noreferrer">Descargar <i class="fas fa-download"></i></a>
        </a>
      </li>

    </ul>
  </div>
</nav>