<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap"
      rel="stylesheet"
    />
    <!--Agradecimientos especiales a boostrap y fontawesome, 
        licencia en //View/CSS/LICENSE.txt -->
    <link rel="icon" href="/metodos-numericos/View/IMG/favicon.ico">
    <link rel="stylesheet" href="/metodos-numericos/View/CSS/bootstrap.min.css" />
    <link rel="stylesheet" href="/metodos-numericos/View/CSS/styles.css" />
    <link rel="stylesheet" href="/metodos-numericos/View/CSS/all.min.css" />
    <link rel="stylesheet" href="/metodos-numericos/View/CSS/fontawesome.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <title>Métodos Númericos en la Computación</title>
  </head>
  <body>
    <div class="container-fluid">
      <header></header>
      <nav></nav>
      <div class="Inicio"></div>
      <div>

        <div class="">
            <h2>Matriz Inversa</h2>
          <div class="w-75 h-75 mb-5 d-flex justify-content-center">
            <iframe width="100%" height="500" src="https://www.youtube.com/embed/F8IJ3Fklon8" 
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
  
            <h2>Minimos Cuadrados</h2>

          <div class="w-75 h-75 mb-5 d-flex justify-content-center">
            <iframe width="100%" height="500"
            src="https://drive.google.com/file/d/1guodQokJZOHYaAidz2NUHLeSLC_2q9FF/apreview">
            </iframe>
          </div>

          <h2>Newton-Cotes</h2>

          <div class="w-75 h-75 mb-5 d-flex justify-content-center">
            <iframe width="100%" height="500"
            src="https://drive.google.com/file/d/18HmPkJyBh6L4147rqn2RXRDyJGQPi8Wc/preview">
            </iframe>
          </div>

          
          <h2>Diferenciacion Numerica</h2>

          <div class="w-75 h-75 mb-5 d-flex justify-content-center">
            <iframe width="100%" height="500"
            src="https://drive.google.com/file/d/1OCuFXWKfZjR_nJZ1X1F0-0Wmkvm5RJcv/preview">
            </iframe>
          </div>
  
            <h2>Euler Mejorado</h2>
          <div class="w-75 h-75 mb-5 d-flex justify-content-center">
            <iframe width="100%" height="500px" src="https://www.youtube.com/embed/4f2jFYZTOAM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>

      </>
    </>
    <!-- JQuery es maravilo -->
    <script src="/metodos-numericos/Controller/JS/jquery-3.5.1.min.js"></script>
    <script src="/metodos-numericos/Controller/JS/jquery.includeHTML.min.js"></script>
    <!-- Aquí se mandan a llavar los otros archivos HTML-->
    <script>
      $(document).ready(function () {
        $("header").loadHTML("/metodos-numericos/View/HTML/Elementos/header.html");
        $("nav").loadHTML("/metodos-numericos/View/HTML/Elementos/nav.html");
      });
    </script>
  </body>
</html>
