<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap"
      rel="stylesheet"
    />
    <!--Agradecimientos especiales a boostrap y fontawesome, 
        licencia en //View/CSS/LICENSE.txt -->
    <link rel="icon" href="/View/IMG/favicon.ico">
    <link rel="stylesheet" href="/View/CSS/bootstrap.min.css" />
    <link rel="stylesheet" href="/View/CSS/styles.css" />
    <link rel="stylesheet" href="/View/CSS/all.min.css" />
    <link rel="stylesheet" href="/View/CSS/fontawesome.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <title>Métodos Númericos en la Computación</title>
  </head>
  <body>
    <div class="container-fluid">
      <header></header>
      <nav></nav>
      <div class="Inicio"></div>
      <div>

      </div>
    </div>
    <!-- JQuery es maravilo -->
    <script src="/Controller/JS/jquery-3.5.1.min.js"></script>
    <script src="/Controller/JS/jquery.includeHTML.min.js"></script>
    <!-- Aquí se mandan a llavar los otros archivos HTML-->
    <script>
      $(document).ready(function () {
        $("header").loadHTML("/View/HTML/Elementos/header.html");
        $("nav").loadHTML("/View/HTML/Elementos/nav.html");
      });
    </script>
  </body>
</html>
