    <!-- Algun tipo de banner -->
<header>
    <div class="imagenBanner jumbotron d-none d-sm-block .d-lg-block">
        <h1 class="headerFont d-lg-none d-none d-sm-block d-md-none">Aplicación de Métodos</br> Númericos </h1>
        <h1 class="headerFont d-xl-block d-none d-lg-block d-md-block d-xl-none">Aplicación de Métodos Númericos en la Computación</h1>
        <h5 class="headerFont card-subtitle d-xl-block d-md-block d-none d-lg-block d-xl-none">Hecho por: Raul Peñate </h3>
    </div>
</header>